<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/edit.css' %}">
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <div class="logo-site">
            <img src="{% static 'logo.jpg' %}" alt="J@H logo" class="logo-image" id="logo-image">
        </div>
    </aside>

    <header class="header">
        <div class="header-title">
            <h1 id="header-title"><span>JOB@HAND</span></h1>
        </div>
        <div class="auth-buttons">
            <a href="/signin"><button id="sign-in" class="sign-in">SIGN IN</button></a>
            <a href="/signup"><button id="sign-up" class="sign-up">SIGN UP</button></a>
        </div>
        <a href="/panel"><button id="manage-button">MANAGE ADVERTS</button></a>
        <button id="disconnect-button">DISCONNECT</button>
    </header>

    <main class="main-content">
        <div class="content">
            <div class="item">
                <div class="item-header">
                    <input type="text" id="item-title" class="title" placeholder="Enter the title">
                    <input type="text" id="item-company" class="company" placeholder="Enter the company name">


                </div>
                <div class="info-section">
                    <button class="back" id="back-button"><span>BACK</span></button>
                    <div class="info-logo-container">
                        <label for="advert-logo-upload" class="advert-logo-upload-label">
                            <div class="logo" id="item-logo">
                                <img alt="Company logo" id="advert-logo">
                            </div>
                        </label>
                        <input type="file" id="advert-logo-upload" accept="image/*" style="display: none;">
                        <div class="info">
                            <div class="info-item">
                                <label for="contract">Contract:</label>
                                <div class="contract-label" style="position: relative;">
                                    <span class="contract-text">Choose a type of contract</span>
                                    <div class="contract-dropdown">
                                        <label>
                                            <input type="radio" name="contract" value="freelance"> Freelance
                                        </label><br>
                                        <label>
                                            <input type="radio" name="contract" value="full-time"> Full-time
                                        </label><br>
                                        <label>
                                            <input type="radio" name="contract" value="apprenticeship"> Apprenticeship
                                        </label><br>
                                        <label>
                                            <input type="radio" name="contract" value="part-time"> Part-time
                                        </label><br>
                                        <label>
                                            <input type="radio" name="contract" value="internship"> Internship
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="info-item">
                                <label for="salary">Salary:</label>
                                <input type="text" id="salary" placeholder="Enter the salary">
                            </div>
                            <div class="info-item">
                                <label for="duration">Duration:</label>
                                <input type="text" id="duration" placeholder="Enter the duration">
                            </div>
                            <div class="info-item">
                                <label for="skills">Skills:</label>
                                <textarea id="skills" rows="2" placeholder="Enter required skills"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="lines">
                        <textarea class="line-item" rows="2" placeholder="Short description..."></textarea>
                    </div>
                </div>
                <div class="lines1">
                    <textarea class="line-item1" rows="2" placeholder="Long description..."></textarea>
                </div>
                <button id="submit-company-button">Submit Advert</button>
            </div>
        </div>
    </main>

    <footer class="footer">
        <p id="footer-text"><span>FOOTER</span></p>
    </footer>
</div>

<script src="{% static 'scripts/api.js' %}"></script>
<script src="{% static 'scripts/edit.js' %}"></script>
<script src="{% static 'scripts/authentication_bar.js' %}"></script>

</body>
</html>
